* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    margin: 0;
    background-color: #e7e7e7;
}

.contents {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.navigation {
    background-color: #a4a7ff;
}

.navigation > div {
    padding: 1rem;
    cursor: pointer;
}

.navigation > div:hover {
    color: #ffffff;
}

.main {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.calculator {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.error {
    height: 1rem;
    color: red;
}

.part-input {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.part-controls {
    display: flex;
    justify-content: center;
}

.part-result {
    display: flex;
    justify-content: center;
}

.result {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 4rem;
    background-color: #b3b3b3;
}

.letter-capitalizer {
    display: flex;
    gap: 2rem;
}

.letter-capitalizer .result {
    width: 5rem;
    height: 3rem;
}

.square {
    display: flex;
    gap: 2rem;
}

.square .result {
    width: 5rem;
    height: 3rem;
}
